<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Thymeleaf Fragments: home</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="/spring-thymeleaf/css/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <a class="navbar-brand" th:href="@{/}">Pizza Cloud</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li th:if="${main}" class="nav-item active">
                    <a class="nav-link" th:href="@{/}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.home}"></a>
                </li>
                <li th:unless="${main}" class="nav-item">
                    <a class="nav-link" th:href="@{/}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.home}"></a>
                </li>
                <li th:if="${design}" class="nav-item active">
                    <a class="nav-link" th:href="@{/design}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.design}"></a>
                </li>
                <li th:unless="${design}" class="nav-item">
                    <a class="nav-link" th:href="@{/design}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.design}"></a>
                </li>
                <li th:if="${orders}" class="nav-item active">
                    <a class="nav-link" th:href="@{/orders/current}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.orders}"></a>
                </li>
                <li th:unless="${orders}" class="nav-item">
                    <a class="nav-link" th:href="@{/orders/current}" sec:authorize="isAuthenticated()"
                       th:text="#{navigation.orders}"></a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li> -->
            </ul>
            <!--            Логин-->
            <a class="btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()" th:href="@{/logout}"
               th:text="#{navigation.signout}">Sign
                out</a>
            <a class="btn btn-sm btn-outline-success" sec:authorize="!isAuthenticated()" th:href="@{/login}"
               th:text="#{navigation.signin}">Sign
                in</a>
        </div>
    </nav>
</header>
<footer class="footer">
    <div class="container">
        <div class="text-right">
            <span class="m-0 text-right" th:text="#{footer.lang}"></span>
            <img id="en" class="lang" th:src="@{/images/us_flag.png}"/>
            <img id="ru" class="lang" th:src="@{/images/ru_flag.png}"/>
        </div>
    </div>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script type="text/javascript">
        function langClick() {
            var selectedOption = this.id;
            if (selectedOption !== '') {
                var url = window.location.href;
                url = url.split('?')[0];
                window.location.replace(url + '?lang=' + selectedOption);
            }
        };

        $(document).ready(function () {
            $(".lang").click(langClick);
        });

        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
</footer>
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/cjs/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>