<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza Cloud</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"> </header>
<main role="main" class="container">
    <h1 th:text="#{design.main.label}"></h1>
    <!--<img th:src="@{/images/pizza-pizza.png}"/> -->
    <form method="POST" th:object="${pizza}">
        <div class="grid">
            <div class="ingredient-group" id="wraps">
                <h3 th:text="#{design.choose.wrap}"></h3>
                <div th:each="ingredient : ${wrap}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="proteins">
                <h3 th:text="#{design.choose.protein}"></h3>
                <div th:each="ingredient : ${protein}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="cheeses">
                <h3 th:text="#{design.choose.cheese}"></h3>
                <div th:each="ingredient : ${cheese}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="veggies">
                <h3 th:text="#{design.choose.veggies}"></h3>
                <div th:each="ingredient : ${veggies}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
            <div class="ingredient-group" id="sauces">
                <h3 th:text="#{design.choose.sauce}"></h3>
                <div th:each="ingredient : ${sauce}">
                    <input th:field="*{ingredients}" type="checkbox"
                           th:value="${ingredient.id}"/>
                    <span th:text="${ingredient.name}">INGREDIENT</span><br/>
                </div>
            </div>
        </div>
        <div>
            <h3 th:text="#{design.creation.name}"></h3>
            <input type="text" th:field="*{name}"/>
            <button class="btn btn-dark" th:text="#{button.submit.design}"></button>
        </div>
    </form>
</main>
<div th:insert="fragments/general.html :: footer"></div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper/2.5.4/cjs/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
</body>
</html>