<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<header th:insert="fragments/general.html :: header"></header>
<h1>Register</h1>
<img th:src="@{/images/pizza-pizza.png}"/>
<form method="POST" th:action="@{/registration}" id="registerForm">
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>
    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>
    <label for="confirm">Confirm password: </label>
    <input type="password" name="confirm"/><br/>
    <label for="fullname">Full name: </label>
    <input type="text" name="fullname"/><br/>
    <label for="street">Street: </label>
    <input type="text" name="street"/><br/>
    <label for="city">City: </label>
    <input type="text" name="city"/><br/>
    <label for="state">State: </label>
    <input type="text" name="state"/><br/>
    <label for="zip">Zip: </label>
    <input type="text" name="zip"/><br/>
    <label for="phone">Phone: </label>
    <input type="text" name="phone"/><br/>
    <input type="submit" value="Register"/>
</form>
<div th:insert="fragments/general.html :: footer"></div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.5.4/cjs/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
</body>
</html>